  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  :root { --verydarkmagenta: hsl(300, 43%, 22%);
          --softpink: hsl(333, 80%, 67%);
          --darkgrayishmagenta: hsl(303, 10%, 53%);
          --lightgrayishnagenta: hsl(300, 24%, 96%);
          --white: hsl(0, 0%, 100%);
        }

  }
  body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spartan', sans-serif;

  }

  div {
    border-radius: 10px;
  }



  .top {
    background-image: image("images/bg-pattern-mobile-top.svg");
  }
  .bottom {
    background-image: image("images/bg-pattern-mobile-bottom.svg");
  }
  h1 {
    color: var(--verydarkmagenta);
    text-align: center;
    margin-bottom: 0px;
  }

  .intro p{
    color: var(--darkgrayishmagenta);
    text-align: center;

  }

  p {
    color:var(--white);
    opacity: 0.8;
    line-height: 28px;
  }




  #author {
    color: var(--white);
  }
  #authorinfo{
    color: var(--softpink);
  }


  .rating {
    background-color: var(--lightgrayishnagenta);
    text-align: center;
    color:  var(--verydarkmagenta);
    padding-top:10px;
    padding-bottom:10px;
  }

/* breaking a paragraph into two lines  */
#stars::after{content: "\a";
white-space: pre;
}

header {
  background-image: url("images/bg-pattern-top-mobile.svg");
}



  .container{
    height: 80vh;
  }

  .testimonial {
    background-color: var(--verydarkmagenta);
    padding: 5px 15px 5px 25px;
    margin: 5px;
  }

  #avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
    padding: 10px;
  }

  @media screen and (min-width: 900px)  {
      body{display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
    }

    .container {
      height: 100vh;

    }

    .row1 {display: flex;
      background-image: url("images/bg-pattern-top-desktop.svg");
      background-repeat: no-repeat;
      background-size: contain;}

    .col1 {flex: 50%;}

    .rating {
        width: 42vw;
        border-radius: 10px;
    }
    .testimonial {
      height: 38vh;
      width: 25vw;
    }

    #rating1 {
      position: relative;
      width: 30vw;
      right: 30px;}
     #rating2{
       position:relative;
       width: 35vw;
     }
    #rating3 {
      position: relative;
      width:38vw;
      left: 40px;}

    .intro, h1, .row2{text-align: left; margin: 25px;}

    .intro p {text-align: justify;}

    .rating {margin-left: 25px;}

    #stars::after{content:normal;}

    .row2 {display: flex;
          background-image: url("images/bg-pattern-bottom-desktop.svg");}
    .col2 {flex: 33.33%;}

    #test1{ position: relative;}

    #test2{position: relative; top: 20px}

    #test3{position: relative;top: 40px;}

    .row1, .row2 {width: 100%; padding: 10px 20px 10px 10px;}

    .row1 { padding-bottom: 0px;}

  }
